<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.splitlink.mapper.MemberMapper">

    <insert id="insertMembers">
        INSERT INTO members (
            room_id,
            name
        ) VALUES
        <foreach collection="memberNames" item="name" separator=",">
            (#{roomId}, #{name})
        </foreach>
    </insert>

    <update id="updateIsActive">
        UPDATE members
        SET is_active = true
        WHERE member_id = #{memberId}
    </update>

    <delete id="deleteMembersByRoomId">
        DELETE FROM members
        WHERE room_id = #{roomId}
    </delete>
</mapper>
