<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.splitlink.mapper.SettlementMapper">

    <!-- 계산된 정산 송금 내역 일괄 저장 (Batch Insert) -->
    <insert id="insertSettlements">
        INSERT INTO settlements (
            room_id,
            sender_id,
            receiver_id,
            amount,
            is_done
        ) VALUES
        <foreach collection="settlements" item="item" separator=",">
            (
                #{item.roomId},
                #{item.senderId},
                #{item.receiverId},
                #{item.amount},
                #{item.isDone}
            )
        </foreach>
    </insert>

    <!-- 방 PK 기준 정산 송금 내역 조회 -->
    <select id="findSettlementsByRoomId" resultType="com.splitlink.entity.Settlement">
        SELECT
            settlement_id AS settlementId,
            room_id AS roomId,
            sender_id AS senderId,
            receiver_id AS receiverId,
            amount,
            is_done AS isDone
        FROM settlements
        WHERE room_id = #{roomId}
    </select>

    <!-- settlements 테이블 1회 조회로 보낼 돈과 받을 돈 한 번에 가져오기 -->
    <select id="findSettlementSummary" resultType="com.splitlink.mapper.SettlementMapper$SettlementSummary">
        SELECT
            IFNULL(SUM(CASE WHEN sender_id = #{memberId} THEN amount ELSE 0 END), 0) AS totalSendAmount,
            IFNULL(SUM(CASE WHEN receiver_id = #{memberId} THEN amount ELSE 0 END), 0) AS totalReceiveAmount
        FROM settlements
        WHERE room_id = #{roomId}
            AND (sender_id = #{memberId} OR receiver_id = #{memberId})
    </select>
</mapper>